<form #studentForm="ngForm" (ngSubmit)="onSubmit()">
    <p>{{ model | json}}</p>
    <p>
        <mat-form-field>
            <input matInput placeholder="First name" required minlength="2" 
            type="text" [(ngModel)]="model.firstname" name="firstname" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Last name" 
            type="text" [(ngModel)]="model.lastname" name="lastname" #lastnamecontrol/>
        </mat-form-field>
    </p>
    <p>Control state: {{lastnamecontrol.className}}</p>
    <p><button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid || submitted">Submit</button></p>
</form>