<nav>
    <mat-sidenav-container class="nav-container">
        <mat-sidenav mode="side" opened="true">
            <mat-nav-list>
                <a mat-list-item routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
                <a mat-list-item routerLink="/contact" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contact</a>
                <a mat-list-item routerLink="/help" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Help</a>
                <a mat-list-item routerLink="/members" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">Members</a>
                <a mat-list-item routerLink="/observable" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">Observable</a>
                <a mat-list-item routerLink="/flexbox" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Flexbox</a>
                <a mat-list-item routerLink="/bgrid" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">Bgrid</a>
                <a mat-list-item routerLink="/tdform" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">TdForm</a>
                <a mat-list-item routerLink="/rxform" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">RxForm</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</nav>